[submodule ".conche/packages/Commander"]
	path = .conche/packages/Commander
	url = https://github.com/kylef/Commander
[submodule ".conche/packages/PathKit"]
	path = .conche/packages/PathKit
	url = https://github.com/kylef/PathKit
[submodule ".conche/packages/Spectre"]
	path = .conche/packages/Spectre
	url = https://github.com/kylef/Spectre
[submodule "ConcheTests/resolver_integration_specs"]
	path = ConcheTests/resolver_integration_specs
	url = https://github.com/CocoaPods/Resolver-Integration-Specs
